*{
    margin: 0;
    padding: 0;
}

#parent {
    position: relative;
    width: 1000px;
    background-color: #eeeeee;
    height: 1000px;
}

#parent > ul > div {
    background-color: black;
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 65px;
    border-radius: 70px;
    position: fixed;
    top: 800px;
    left: 800px;
}

#parent > ul > ul > li{
    margin-top: 20px;
    box-shadow: 1px 3px 4px;
    font-size: 20px;
}

.a1 {
    width: 80px;
    height: 80px;
    background-color: paleturquoise;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.a2 {
    width: 80px;
    height: 80px;
    background-color: palegreen;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a3 {
    width: 80px;
    height: 80px;
    background-color: pink;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a4 {
    width: 80px;
    height: 80px;
    background-color: plum;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.submenu{
    position: absolute;
    top: 380px;
    left: 809px;
    padding-bottom: 150px;      /* 패딩을 추가해서 호버 틈을 매꿔줌 */
    display: none;
}

#parent2:hover .submenu{
    display: block;
}

