.box{
    border: 1px solid red;
    width: 100px; padding: 10px;  
}

.flexbox1{
    display: flex; /* 하위 요소에 대해 */
    border: 1px solid blue;
    width: 250px; /* 각 자식들이 100px * 3 = 300px */
    flex-wrap: nowrap; /* 기본값 : 하위 요소가 넘치면 자동으로 하위 요소들 크기조정 */
}


.flexbox2{
    /* wrap : 하위 요소가 넘치면 자동 줄바꿈  */
    display: flex; 
    border: 1px solid blue;
    width: 250px; 
    flex-wrap: wrap; 
}

.flexbox3{
    border:  1px solid blue;
    display: flex;
    /* row(기본값) : 하위 요소 가로 배치 */
    flex-direction: row;
}

.flexbox4{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

.flexbox5{
    border: 1px solid blue;
    display: flex;
    justify-content: flex-start;

}

.flexbox6{
    border: 1px solid blue;
    display: flex;
    justify-content: flex-end;

}

.flexbox7{
    border: 1px solid blue;
    display: flex;
    justify-content: center;
}

.flexbox8{
    border: 1px solid blue;
    display: flex;
    /* 양끝에 여백 없이 (자동)여백 균등 가로정렬 */
    justify-content: space-between;
}

.flexbox9{
    border: 1px solid blue;
    display: flex;
    justify-content: space-around;
}

.flexbox10{
    border: 1px solid blue;
    display: flex;
    justify-content: space-evenly;
    
}
