html {
    background-color: #f0f2f5;
}

body,
button,
input,
label,
select {
    background-color: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

div {
    display: block;
    unicode-bidi: isolate;
}

/* 로고 영역 */
.A1 {
    padding-top: 5px;
    text-align: center;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.T1 {
    height: 100px;
    border: 0px;
    text-align: center;
}

.img {

    height: 100px;
    border: 0px;
    overflow-clip-margin: content-box;
    overflow: clip;
}


/* 로고 아래 영역 */
.R1 {
    background-color: #f0f2f5;
    margin: 0;
    padding-top: 5px;
}

/* 메인 컨테이너 */
.H1 {
    width: 432px;
    margin: 0 auto;
    box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
    border-radius: 8px;
}


/* 헤더 */
.C1 {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    padding: 10px 16px;
    text-align: center;

}

.c1 {
    font-size: 25px;
    line-height: 32px;
    color: #1c1e21;
    margin-bottom: 0;
    font-weight: 600;


}

.c2 {
    color: #606770;
    font-size: 15px;
    line-height: 24px;
}

/* 폼 영역 */
.Q1 {
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    border-top: 1px solid #DADDE1;
    box-sizing: border-box;
    padding: 16px;
}

/* 이름 (성, 이름) */
.V1 {
    margin-top: 0px;
    display: flex;
    gap: 12px;
    margin-bottom: 6px;


}

.v1,
.v2 {
    flex: 1;
    padding: 11px;
    font-size: 15px;
    line-height: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0;
    border: 1px solid #eeeeee;
}

/* 휴대폰/이메일 */
.V2 {
    margin-bottom: 6px;
    border-radius: 5px;
}

.v3 {
    width: 100%;
    padding: 11px;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

/* 비밀번호 */
.V3 {
    margin-bottom: 6px;
}

.v4 {
    width: 100%;
    padding: 11px;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 5px;
}

/* 생일 라벨 */
.V4 {
    margin-top: 10px;
    margin-bottom: 4px;
}

.v5 {
    font-size: 12px;

}

/* 생일 셀렉트 */
.V5 {
    margin-bottom: 6px;
}

.v6 {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0 auto;
}

.v8 {
    width: 12px;
    height: 12px;
    display: inline-block;
}

.G1 {
    display: flex;
    gap: 12px;
}

.g1,
.g2,
.g3 {
    flex: 1;
    padding: 6px;
    font-size: 15px;
    border: 1px solid #eeeeee;
}

/* 성별 라벨 */
.V6 {
    margin-top: 10px;
    margin-bottom: 4px;
}

.v7 {
    font-size: 12px;
}

/* 성별 라디오 */
.V7 {
    margin-bottom: 10px;
    box-sizing: border-box;
    color: #1c1e21;
    display: inline-block;
    font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 36px;
    margin-top: 5px;
    margin-bottom: 4px;
    width: 100%;

}

.K1 {
    display: flex;
    flex-wrap: wrap;
    margin: -8px -6px -6px;
    width: 411px;


}

.k1,
.k2,
.k3 {
    background-color: #fff;
    border: 1px solid #CCD0D5;
    box-sizing: border-box;
    display: inline-block;
    flex: 1 0 auto;
    font-weight: 400;
    height: 36px;
    margin: 8px 6px 6px;
    padding: 0;
    position: relative;
    width: auto;
}


.n1 {
    color: #606770;
    cursor: default;
    font-weight: 600;
    vertical-align: middle;
}

.k1 input,
.k2 input,
.k3 input {
    margin: 0;
}

/* 약관 */
.V8 {
    margin: 10px 0;
}

.v9 {
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 10px;
}

.v11 {
    font-size: 11px;
    line-height: 14px;
}

/* 가입하기 버튼 */
.V9 {
    text-align: center;
    margin: 24px 0 16px;
}

.Y1 {
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
}

/* 이미 계정이 있으신가요 */
.V10 {
    text-align: center;
    margin-top: 15px;
}

.P1 {
    padding: 10px 0;
    position: relative;
    text-align: center;
}