.b1{
    background-color: pink;
    text-align: center;
    width: 300px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

.t1{
    width: 300px;
    height: 50px;
    text-align: center;

}

.h1{
    text-align: center;
    border: 3px solid white;
    border-radius: 20px;
    font-size: 20px;
    background-color: pink;
    font-weight: bold;
    padding: 10px;
    margin: 0 auto;
}

.i1{
    width: 200px;
    height: 200px;
    border-radius: 120px;
    padding: 20px;
}

.t3{
    padding: 10px;
}
.a1{
    display: flex;
    flex-direction: column;
    
}
.a2{
    background-color: rgb(0, 195, 255);
    padding: 20px;
    margin: 7px;
    border-radius: 10px;
    text-align: center;
    border: 0px;
    color: white;
    font-weight: bold;
    font-size: 15px;

}