/* 공통 css 이면서 관례적인 기본 css */
*{
    box-sizing: border-box; /* content + padding + border */
    font-size: 12px;
    padding: 0;  /* 전체 여백 제거 */
    margin: 0;
}

a{ 
    /* a 마크업 기본 css 제거 */
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 색상 */
}

li{
    list-style-type: none; /* 목록 글머리 제거 */
}


/* *{
    border: 1px solid red;
    padding: 2px;
} */


/* ============== 헤더 =============== */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
}

#header .top-meun{   /* 선택자A 선택자 B : 자손선택자 */
    display: flex;
    justify-content: flex-end;
    margin: 13px 0px;
}

#header .top-meun li a{
    margin-left: 1px;
}

#header .main-meun{   /* 선택자A 선택자 B : 자손선택자 */
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}


#header .main-meun li a{
    margin-left: 40px;  /* 왼쪽 바깥여백 */
    font-size: 23px; 
    font-weight: bold;
}

/*  =========== 대표 이미지 ============ */
#main-img1{
    width: 100%;
    
} 

/*  ========== 3 본문 ============ */
#main{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 20px auto ; 
}
/* 3-1 사이드바 */
#sidebar{
    width: 450px;
    margin-right: -15px;
    
}

#sidebar1 > h3 {
    background-color: mediumturquoise;
    color: white;
    padding: 10px;
    font-size: 20px;
    
}

#sidebar1 {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

#sidebar2 {
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    margin-bottom: 10px;
}


#sidebar1 > div{
    padding: 5px;
}

#sidebar1 > input, button{
    padding: 5px;
    font-size: 12px;
    margin-bottom: 12px;
    border-radius: 10px;
}

#sidebar2 > h3 {
   
    font-size: 17px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
    margin: 5px;
    

}

#sidebar3 > h3 {
    font-size: 17px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
    margin: 5px;
}

#sidebar2 > ol > li {
    font-size: 12px;
    margin: 4px;
    padding-bottom: 2px;
}

#sidebar3 > ol > li {
    font-size: 12px;
    margin: 4px;
    padding-bottom: 2px;
}


/* 3-2 본문 */


#main{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 20px auto ; 
    margin-bottom: 0;
}

#Content{
    width: 1280px;
    margin: auto 30px;
    display: flex;

}


/* 3-2-1 본문 */

#content{
    padding: 5px;
    width: 550px;
}

#content > div {
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#알림1{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
}

#알림1 > ol > li{
    margin: 20px;
}




.C{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
}

#게시판1{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 14px;
}


/* 3-2-2본문 */


#content2{
    padding: 5px;
    width: 450px;
    margin: 0 10px;
    
}

#제빵_클래스{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

#content2 > div {
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 2px;
}

#img4{
    margin-bottom: 10px;
}

#bread1{
    width: 180px;
    margin-bottom: 5px;
}

.Y1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#gg2{
    padding-right: 50px;
}

.Y2{
    display: flex;
    justify-content: space-between;
}

#gg4{
    padding-right: 50px;
}


/*  ========== 4 푸터 ============ */
#footer{
    background-color: rgba(3, 34, 80, 0.944);
    color: white;
    display: block;
    justify-content: left;
}

#footer1{
    display: flex;
    margin: 0 auto;
    width: 1280px;
    padding-top: 15px;
    padding-bottom: 20px;

}

#footer1 > span{
    padding-right: 30px;
}


#footer2{
    display: flex;
    margin: 0 auto;
    width: 1280px;
    justify-content: space-between;
}

.fff1{
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 13px;
}

.fff2 > div{
    padding-bottom: 5px;
}












