/* ----------------------------전체--------------------------- */
*{
  padding: 5px;
  margin: 0px;
  box-sizing: content-box;
}
li{ list-style-type : none; }
/*-------------------------------- 헤더-------------------------- */
.wrap{background-color:#f1f5f9; width: 1720px; margin: 0px auto;}
.header{ text-align: center;}
.main1{display: flex; }
.header > li{color: gray;}

/* ----------------------------- 부서관리 -------------------------*/
.left{ 
  background-color: white;
  border-radius: 10px;
  width: 360px;
  margin: 10px;
}

.left-top {
  text-align: left;
  border-bottom: 1px solid #f1f5f9;
  margin: 20px;
}

.left-center{
  display: flex;
  justify-content: center;
}

.left-center > input{
  background-color: #f1f5f9;
  border-radius: 5px;
  width: 220px;
  padding: 10px;
  border: 1px solid #eeeeee;

  
}

.left-center > button {
  background-color: #9333ea;
  color: white;
  border-radius: 5px;
  width: 40px;
  padding: 8px ;
  margin-left: 20px;
  border: 0px;
}

#부서{
  width: 200px;
  text-align: left;
  border-bottom: 1px solid #f1f5f9;
  padding-left: 10px;
}

#관리{width: 100px;}

.reBth{
  background-color: white;
  border: 0px;
  color: skyblue;
}

.removeBth{
  background-color: white;
  border: 0px;
  color: red;
}

.left-bottom > table{
  margin: 0px auto;
}
/*-----------------------------센터----------------------------------*/
.center{
  width: 850px;
   border-radius: 10px;
   margin: 10px;
   padding: 0px 20px;
   text-align: left;
  background-color: white;
}

/* -----------------------------사원등록-----------------------------*/
.center-top{
  display: flex;
  justify-content: space-between;
}

.center-top > div{
  width: 360px;
}

.center-top > div >input{
  width: 340px;
  padding: 10px;
  border-radius: 5px;
}

.center-center1{
  display: flex;
  justify-content: space-between;
}

.center-center1 > div{
  width: 360px;
}

.e3{
   width: 342px;
   padding: 10px;
   border-radius: 5px;
}

.center-center2{text-align: right;}

.center-center2 > button{
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
  border: 0px;
}
/* -------------------------------사원 전체 목록-----------------------*/

.table2{margin: 0px auto;}

.table2 > table{width: 100%;text-align: center;}

/*-------------------------------------오른쪽-------------------------*/

.right{
  width: 360px;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  margin: 10px;
}

/* ----------------------------------사원 휴가 신청----------------------*/

.EmployeeName{ border-top: 1px solid #f1f5f9;}

.EmployeeName > select{
  width: 315px;
  padding: 10px;
  border-radius: 5px;
}

.date-start{
  width: 150px;
  padding: 0px;
}

.date-end{
  width: 150px;
  padding: 0px;
}

.date-start > input{
  border-radius: 5px;
  padding: 10px;
}

.date-end > input{
   border-radius: 5px;
   padding: 10px;
   border: 1px solid #eeeeee;
}

.date{
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.v4{
  width: 315px;
  padding: 10px;
  border-radius: 5px;
}

.vacationRequest{text-align: right;}

.vacationRequest > button{
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 8px 15px;
  border: 0px;
}

/*-----------------------------휴가 신청 전체 목록------------------------*/

.list1{
  background-color: #f1f5f9;
  margin: 10px 0px;
  border-radius: 8px;
}

.list2{
  background-color: #f1f5f9;
  margin: 10px 0px;
  border-radius: 8px;
}

.list1 > div{
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.list2 > div{
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

.list1 > div > div > button{
  border-radius: 10px;
  background-color:#94a3b8;
  color: white;
  border: 0px;
}

.list2 > div > div > button{
  border-radius: 10px;
  background-color: #94a3b8;
  color: white;
  border: 0px;
}

.list1 > li{
  padding: 0px;
  padding-left: 5px;
}

.list2 > li{
  padding: 0px;
  padding-left: 5px;
}

.tab{
  border-collapse: collapse;
  background-color: #f1f5f9;
}

tbody{background-color: white;}

td{border-bottom: 1px solid #f1f5f9;}





/* #content > tbody img{
    width: 100px;
    height: 100px;
    object-fit: cover;
} */