/* 확인용 */
*{
    border: 1px solid red;
    padding: 10px;
}

/* pc : 1000 ~ 1400px */

/* 복수 선택자, 선택자A, 선택자B */
#header, #main, #footer{
    width: 1280px;
    margin: 0 auto;
    height: 500px;
}

#main{
    display: flex;  /* 하위 요소들을 배치 방법 : flex */
    flex-direction: row; /* 가로배치 (기본값) */
    flex-wrap: nowrap; /* 줄바꿈처리 안함(기본값) */
    justify-content: space-between; /* 가로 정령 */
    
}

#content{  /* 높이는 내용물 만큼 자동크기 100% */
    width: 830px; /* 크기 : px(픽셀/고정), %(비율/반응형) */
}

#sidebar{
    width: 420px;
}

#footer{

    background-color: gray; color: white;
}