.title{
    font-family: Juache; /*글꼴*/
    font-size: 40px; /* 글꼴 크기 */
    font-weight: bold; /* 글꼴 진하게 */
    font-style: italic; /* 글꼴 기울기 */


} /* 외부폰트 : 1.영문:구글폰트 2. 한글:눈누폰트  */
@font-face {
    font-family: 'Juache';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
.content{
    font-family: Juache;
    color: purple; /* 글꼴 색상 */
    word-spacing: 10px; /* 단어 간격 : 어간 */
    letter-spacing: 10px; /* 글자 간격 : 자간 */
    line-height:160%; /* 줄간격 : %백분율 */
}
.writer{
    text-align: center; /* 마크업 안에 있는 content 내용물 가로 정렬 */
    text-decoration: underline overline line-through; 
    /* underline(밑줄) overline(윗줄) line-through(취소선) */
    text-shadow: 5px 5px 5px red; 
    /* 텍스트 그림자 : x축(+right -right -left) y축 (+bottom -top) : 테두리 대용 */
    color: green; /* 방법1 : */
    color: rgb(140, 100, 100); /* 방법2 : */
    color: #00ffff; /* 방법3 : 헥스코드 (6자릿수로 16진 코드)*/
}
