*{
    box-sizing: border-box; /* content + padding + border */
    font-size: 12px;
    padding: 0;  /* 전체 여백 제거 */
    margin: 0;
}

a{ 
    /* a 마크업 기본 css 제거 */
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 색상 */
}

li{
    list-style-type: none; /* 목록 글머리 제거 */
}


/* *{
    border: 1px solid red;
    padding: 2px;
} */

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top: 10px;
}
#header > div{
    font-size: 30px;
    color: blue;
}

#header > div > span{
    font-size: 30px;
    color: black;
}

#header .main-meun{   
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}


#header .main-meun li a{
    margin-left: 40px;  
    font-size: 15px; 
    color: gray;
}

/*  =========== 대표 이미지 ============ */
#main-img1{
    width: 100%;
    
} 

/*  ========== 3 본문 ============ */

/* 3-1 본문 */
#center1{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    padding-top: 30px;
}

#center1-1{
    display: flex;
    align-items: center;
    
}

#center1-1-1 > img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}


#center1-1-2{
    padding-left: 10px;
}

#center1-1-2-1{
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

#center1-1-2-2{
    font-size: 14px;
    color: gray;
}



#center1-2{
    display: flex;
     align-items: center;
}

#center1-2-1 > img{
    width: 70px;
    height: 70px;
    margin-right: 10px;
}


#center1-2-2{
    padding-left: 10px;
}

#center1-2-2-1{
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

#center1-2-2-2{
    font-size: 14px;
    color: gray;
}


/* 3-2 본문 */
#main2{
    margin-top: 30px;
    margin-bottom: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #eeeeee;
}

#main2-1{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#main2 > div > div > img{
    width: 300px;
}

#text1{
    font-weight: bold;
    font-size: 15px;
}

#text2{
    color: gray;
}


/*  ========== 4 푸터 ============ */

#Footer{
    background-color: rgba(20, 19, 19, 0.929);
    color: white;   

}

#footer{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

#footer1-1{
    font-size: 13px;
}
#footer1-2{
    font-size: 20px;
    font-weight: bold;
}

#footer2{
    font-size: 13px;
}

#footer2-1{
    padding-bottom: 10px;
}

#footer3 > img{
    padding-left: 10px;
}



