/* 공통 css 이면서 관례적인 기본 css */
*{
    box-sizing: content-box; /* content + padding + border */
    font-family: 굴림 나눔고딕;
    font-size: 12px;
    padding: 0;  /* 전체 여백 제거 */
    margin: 0;
}

a{ 
    /* a 마크업 기본 css 제거 */
    text-decoration: none; /* 밑줄 제거 */
    color: black; /* 색상 */
}

li{
    list-style-type: none; /* 목록 글머리 제거 */
}



/*  ==========  1 헤더 ============ */
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
}

#header .top-meun{   /* 선택자A 선택자 B : 자손선택자 */
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;
}

#header .top-meun li a{
    margin-left: 10px;
}

#header .main-meun{   /* 선택자A 선택자 B : 자손선택자 */
    display: flex;
    justify-content: flex-end;
    margin: 20px 0px;
}


#header .main-meun li a{
    margin-left: 30px;  /* 왼쪽 바깥여백 */
    font-size: 23px; 
    font-weight: bold;
}

/*  =========== 2 대표 이미지 ============ */
#main-img1{
    width: 100%;
    
} 

/*  ========== 3 본문 ============ */
#main{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 20px auto ; 
}
/* 3-1 사이드바 */
#sidebar{
    width: 250px;
}

#sidebar > h3 {
    background-color: gray;
    color: white;
    padding: 10px;
    font-size: 20px;
}

#sidebar > ol li{
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}


/* 3-2 본문 */
#content{
    width: 1030px;
    margin: auto 30px;
}

#content > img{
    /* [1] 이미지 감싼 구역 생성 [2] display : block  변경 */
    margin: 0 auto;
    display: block;
}

#content > h3 {
    font-size: 20px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


/*  ========== 4 푸터 ============ */
#footer{
    background-color: #2c2a29;
    color: white;
    padding: 10px;
}

#footer-inner{
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;

}

