/* 전체 선택자 */

*{
    /* 테두리 : 선굵기 선색상 */
    border : solid 3px red;
    /* 안쪽 여백 */
    padding: 10px;
}

/* 클래스 선택자 */
.경기도{
    /* 위쪽 테두리 */
    border-top: solid 1px orange;   /*위쪽 테두리*/
    border-right: dotted 2px blue;  /* 오른쪽 테두리 */
    border-bottom: dashed 3px black; /* 아래쪽 테두리 */
    border-left: double 4px green; /* 왼쪽 테두리 */
    border-radius: 10px 15px 20px 25px; /* 둥근 모서리(시계 방향 -> 왼쪽상단부터 */
    box-shadow: 1px 1px 1px red; /* 그림자 */
    width: 500px;
    height: 500px ;
    text-align: center;
}

.안양시{
padding-top: 20px; /* 안쪽여백 */
padding-right: 30px;
padding-bottom: 40px;
padding-left: 50px;
margin-top: 50px; /* (테두리) 바깥 여백 */
margin-right: 40px;
margin-bottom: 30px;
margin-left: 20px;
}

.만안구{
    /* 가로 사이즈 고정, 만일 생략시 100%(부모크기) */
    width: 200px;
    padding: 10px; margin: 10px;
    box-sizing: content-box; /* 구역 크기 : content+border+padding */
    box-sizing: border-box; /* 구역 크기 : content */
    margin: 0 auto;/* 0 : 위아래 여백 없음, auto : 왼쪽 오른쪽 자동 뜻  */
    /* 주의할 점 : width 100% 이거나 생략시 불가능 */
    background-color: pink;
}

/* input, img 등 정렬 주의 */
.사진{
    width: 50px;
    /* img 선택자로 직접  text-align 적용 안됨 */
}

.nput{
    width: 100px;
    margin: auto 0;
}